*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dertyu{
    width: 1110px;
    height: 500px;
    margin: auto;
}
.kutrjg{
    display: flex;
}
.olfdjffn{
    margin-top: 200px;
    margin-left: 70px;
}
.oiuytrfv{
    text-align: center;
}
.edgfdfhj{
    line-height: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}